# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#
.DS_Store
.gcloudignore
.git
.gitignore

/api/
/components/
/content
/lang/
/layouts/
/node_modules/
/.nuxt/
/pages/
/plugins/
/static/
/store/
/util/
app.yaml
cloudbuild_prod.yaml
cloudbuild_staging.yaml
dispatch.yaml
nuxt.config.js
package.json
README.md
vue.config.js
yarn.lock